<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

  <display-name>SailMall Platform V1.3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext*.xml</param-value>
  </context-param>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>sailmall.root</param-value>
  </context-param>
  <listener>
    <listener-class>
    org.springframework.web.util.IntrospectorCleanupListener
    </listener-class>
  </listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
  
  <listener>
    <listener-class>
			com.sailmi.mall.core.loader.ServletContextLoaderListener
		</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>
			org.springframework.web.util.WebAppRootListener
		</listener-class>
  </listener>
    <filter>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
		<init-param>   
		    <param-name>sessionFactoryBeanName</param-name>  
		    <param-value>sessionFactory</param-value>  
		</init-param>  
        <init-param>  
            <param-name>singleSession</param-name>  
            <param-value>true</param-value>  
        </init-param>   
    </filter>

   <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


   
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter>
		<filter-name>deviceAccessFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>deviceAccessFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
   <filter>
    <filter-name>encoding-filter</filter-name>
    <filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ForceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>
			org.tuckey.web.filters.urlrewrite.UrlRewriteFilter
		</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  
  
  <filter>
    <filter-name>GZIPEncoder</filter-name>
    <filter-class>
			com.sailmi.mall.core.zip.CompressionFilter
		</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GZIPEncoder</filter-name>
    <servlet-name>/mall</servlet-name>
  </filter-mapping>
 <!--
    防止发生java.beans.Introspector内存泄露,应将它配置在ContextLoaderListener的前面
    详细描述见http://blog.csdn.net/jadyer/article/details/11991457  -->
	<filter>
		<filter-name>secondDomainFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy<!-- DelegatingFilterProxy就是一个对于servlet 
				filter的代理 -->
		</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>secondDomainFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>SimplePageFragmentCachingFilter</filter-name>
		<filter-class>com.sailmi.mall.core.ehcache.PageCacheFiler</filter-class>
		<init-param>
			<param-name>patterns</param-name>
			<param-value> </param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SimplePageFragmentCachingFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
		<dispatcher>FORWARD</dispatcher>  
	    <dispatcher>INCLUDE</dispatcher>  
	    <dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
  <servlet>
    <servlet-name>sailmall</servlet-name>
    <servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:applicationContext-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>sailmall</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>
			com.sailmi.mall.servlet.UploadServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/image/upload</url-pattern>
  </servlet-mapping>  

  <error-page>
    <error-code>500</error-code>
    <location>/500.htm</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.htm</location>
  </error-page>
  <mime-mapping>
    <extension>doc</extension>
    <mime-type>application/msword</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xls</extension>
    <mime-type>application/msexcel</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>zip</extension>
    <mime-type>application/zip</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>rar</extension>
    <mime-type>application/rar</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>application/txt</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>chm</extension>
    <mime-type>application/mshelp</mime-type>
  </mime-mapping>
</web-app>